body {
    background-color: #ebebeb;
    color: #6399cd;
    font: normal 18px "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    line-height: 1.5;
}

a {
    color: #3498db;
    cursor: pointer;
    text-decoration: none;

    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
a:hover, a:focus {
    color: #2980b9;
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
}
h1 {font-size: 38px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

p.lead {
    font-size: 24px;
    font-weight: 200;
}
p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
ul, ol {
    margin-bottom: 20px;
}
hr {
    border-top: 1px solid #6399cd;
}
blockquote {
    padding-top: 0;
    padding-bottom: 0;
    border-color: #fed84f;
}
blockquote small {
    color: inherit;
}
pre {
    background-color: rgba(255, 255, 255, .5);
    border-color: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}
.lighter {
    font-weight: 100;
}
/*	Section
	==================================================*/
.section {
    padding: 20px 0;
}
.active-section {
    top: 20px;
}
.navbar.active-section {
    top: 0 !important;
}
.section-title {
    text-transform: uppercase;
    font-size: 36px;
}

/*	Header
	==================================================*/
#header {
    background-color: #848484;
    color:white;
    box-shadow: 0 0 5px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
}

/*	Navbar
	==================================================*/
.navbar-inverse .navbar-brand {
    padding: 30px 15px;
    margin-right: 30px;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #6399cd;
}
.navbar-inverse {
    background-color: #FFF;

    border: none;
}
.navbar-right button {
    margin: 23px 0;
}
.navbar-nav>li>a {
    padding: 30px 0;
    margin: 0 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0);
    color: #fed84f;
}
.header-button {
    margin-left: 15px;
}

/*	Hero
	==================================================*/
#hero {
    background-color: #6399cd;
    color: #FFF;
}
#hero .lp-element {
    padding: 100px 0px;
}
#hero h1 {
    font-size: 60px;

}
#hero p.lead {
    font-size: 1.8em;
}

/*	ContenuAccueil
	==================================================*/
#contenuaccueil {
    background-color: #fed84f;
    color: #6399cd;
}

/*	Footer
	==================================================*/
#footer {
    background-color: #A4A4A4;
    color: #FFF;
    font-size: 1em;
}

/*	Tableau News et Evenements de l'Accueil
	==================================================*/
.tableauaccueil{
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    margin: 0 0 10px;
}

/*	Slider Boite à idées
	==================================================*/
.sliderboiteaidees {
    display:flex;
    align-items:center;
}

/*	Responsive
	==================================================*/
@media (max-width: 991px) {
    .service-block  {
        margin-bottom: 30px;
    }
    #image img.img-responsive {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav>li>a {
        margin: 0 7px;
    }
}
@media (max-width: 767px) {
    .overview .lead {
        margin-left: 0;
        margin-right: 0;
    }
    .container {
        max-width: 690px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar-nav>li>a {
        padding: 10px;
    }
    .header-button {
        margin: 0;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    p.lead {
        font-size: 18px;
    }
    .section {
        padding: 20px 0;
    }
    .overview p.lead {
        margin-bottom: 40px;
    }
    .overview .lead {
        margin-left: 0;
        margin-right: 0;
    }
    .container {
        max-width: 690px;
        padding-left: 30px;
        padding-right: 30px;
    }


}
@media (max-width: 490px) {
    .container {
        max-width: 430px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #hero h1 {
        font-size: 38px;
    }
    #hero p.lead {
        font-size: 1.5em;
    }
}

/* Galerie
	==================================================*/
.galerie ul li img {
    cursor: pointer;
}
.galerie ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
}

.galerie .text{
    color:#666;
    font-size:15px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
}
.controlsgalerie{
    width:90px;
    display:block;
    font-size:15px;
    padding:8px;
    font-weight:bold;
}
.nextgalerie {
    float:right;
    text-align:right;
}
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.modal-dialog {
    max-width:500px;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
    }
}
@media screen and (max-width: 380px){
    .col-xxs-12 {
        width:100%;
    }
    .col-xxs-12 img {
        width:100%;
    }
}